// Card header 
.card-header {
	margin-bottom: 1em;
}

// Card info
.card-info {
	font-size: 0.87em;
	margin-left: 39%;
	
	& > div {
		border-bottom: 1px solid #eaeaea;
		border-bottom: 1px solid rgba(51, 51, 51, 0.1);
		line-height: 2;
	}
	
	span {
		font-weight: bold;
	}
}

// Card description
.card-description {
	clear: both;
	
	.widget & p {
		margin-bottom: 0.8em;
	}
}

// Card footer
.card-footer {
	
	&:before,
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	
	.card-rating,
	.card-meta > div {
		border-bottom: 1px solid #eaeaea;
		border-bottom: 1px solid rgba(51, 51, 51, 0.1);
		line-height: 2;
	}
	
	span {
		font-weight: bold;
	}
}

// 5-star rating icons similar to WP.org's
.card-rating {
	
	.star {
		color: #e6b800;
		display: inline-block;
		
		&:before {
			content: '\f154';
			display: inline-block;
			font-family: 'dashicons';
			font-size: 1.1em;
			font-weight: normal;
			line-height: 1;
			margin-right: 1px;
			vertical-align: baseline;
			
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	
	.star-full {
		
		&:before {
			content: '\f155';
		}
	}
	
	.star-half {
		
		&:before {
			content: '\f459';
		}
	}
}

// Card meta
.card-meta {
	font-size: 0.87em;
}