// Plugin card image
.plugin-card-image {
	float: left;
	line-height: 1;
	margin-bottom: 4%;
	margin-right: 6%;
	width: 33%;
}

// Plugin card name
.plugin-card-name {
	clear: none;
	float: left;
	line-height: 1.4;
	margin-bottom: 0.5em;
	text-decoration: none;
	width: 61%;
}