/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.contrib-item {
	display: inline-flex;
	max-width: 100%;
	padding: 1%;
}
.css-1wzzj1a {
	display: inline-flex !important;
}
.contrib-title {
	text-transform: uppercase;
	color: #333;
}
.blocki {
	padding: 10px 0 0 10px;
	border: 1px solid #333;
	width: 50%;
}
.block-auth {
	color: #333;
	font-size: 12px;
	text-align: right;
	padding-right: 10px;
	margin-bottom: 3px !important;
}
